{% extends 'base.html.twig' %}

{% block title %}Article List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Article List</h1>
                <ul class="list-group">
                    {% for article in articles %}
                        <li class="list-group-item col-4">
                            <h2>{{ article.title }}</h2>
                            <p>{{ article.description }}</p>
                            <small>Created at: {{ article.createdAt.format('Y-m-d H:i:s') }}</small>
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Show Details</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
